<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    text-align: center;
    /*margin: 20px 0 50px 0;*/
    height: 110px;
  }
</style>

<body>
  <a-layout id="app" v-cloak :class="themeSwitcher.currentTheme">
    <transition name="list" appear>
      <a-layout-content :style="{ minHeight: '0' }">
        <a-row type="flex" justify="center" align="middle"
          :style="{ height: '100%', overflow: 'auto', overflowX: 'hidden' }">
          <a-col :xs="22" :sm="12" :md="10" :lg="8" :xl="6" :xxl="5">
            <a-card>
              <template #title>
                <span>{{ i18n "pages.login.title" }}</span>
              </template>
              <template #extra>
                <a-popover :overlay-class-name="themeSwitcher.currentTheme" title='{{ i18n "menu.settings" }}'
                  placement="bottomRight" trigger="click">
                  <template slot="content">
                    <a-space direction="vertical" :size="10">
                      <a-theme-switch-login></a-theme-switch-login>
                    </a-space>
                  </template>
                  <a-button shape="circle" icon="setting"></a-button>
                </a-popover>
              </template>
              <a-form>
                <a-form-item :style="{ marginBottom: '10px' }">
                  <a-input autocomplete="username" name="username" v-model.trim="user.username"
                    placeholder='{{ i18n "username" }}' @keydown.enter.native="login" autofocus>
                    <a-icon slot="prefix" type="user"></a-icon>
                  </a-input>
                </a-form-item>
                <a-form-item :style="{ marginBottom: '10px' }">
                  <a-input-password autocomplete="password" name="password" v-model.trim="user.password"
                    placeholder='{{ i18n "password" }}' @keydown.enter.native="login">
                    <a-icon slot="prefix" type="lock"></a-icon>
                  </a-input-password>
                </a-form-item>
                <a-form-item :style="{ marginBottom: '10px' }" v-if="twoFactorEnable">
                  <a-input autocomplete="totp" name="twoFactorCode" v-model.trim="user.twoFactorCode"
                    placeholder='{{ i18n "twoFactorCode" }}' @keydown.enter.native="login">
                    <a-icon slot="prefix" type="key"></a-icon>
                  </a-input>
                </a-form-item>
                <a-form-item :style="{ marginTop: '15px' }">
                  <a-button :block="true" type="primary" :loading="loading" @click="login" :icon="loading ? 'poweroff' : undefined" :disabled="user.username.length <= 0 || user.password.length <= 0 || (twoFactorEnable && user.twoFactorCode.length <= 0)">
                    {{ i18n "login" }}
                  </a-button>
                </a-form-item>
              </a-form>
            </a-card>
            <a-card :style="{ justifyContent: 'center', textAlign: 'center', marginTop: '20px' }">
              <span>{{ i18n "pages.login.footer" }} <a href="https://github.com/mhsanaei/3x-ui">3X-UI</a> v{{ .cur_ver }}</span>
            </a-card>
          </a-col>
        </a-row>
      </a-layout-content>
    </transition>
  </a-layout>
  {{template "js" .}}
  {{template "component/aThemeSwitch" .}}
  <script>
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        themeSwitcher,
        loading: false,
        user: {
          username: "",
          password: "",
          twoFactorCode: ""
        },
        twoFactorEnable: false,
      },
      async mounted() {
        this.twoFactorEnable = await this.getTwoFactorEnable();
      },
      methods: {
        async login() {
          this.loading = true;
          const msg = await HttpUtil.post('/login', this.user);
          this.loading = false;
          if (msg.success) {
            location.href = basePath + 'panel/';
          }
        },
        async getTwoFactorEnable() {
          this.loading = true;
          const msg = await HttpUtil.post('/getTwoFactorEnable');
          this.loading = false;
          if (msg.success) {
            this.twoFactorEnable = msg.obj;
            return msg.obj;
          }
        },
      },
    });
  </script>
</body>

</html>